a{
    text-decoration: none;
    @media (max-width:450px){
        font-size: 0.9rem;
    }
}

ul{
    list-style: none;
}
h1{
 @media (max-width:600px) {
 font-size: 1.4rem;
}  
@media (max-width:450px) {
font-size: 1.2rem;
}
}